.sjedisteDiv{
    background-color: lime;
    margin: 20px;
    font-size: 20px;
    margin: 0 auto;
    padding:4px;
    cursor:pointer
}

.zauzetoMjesto{
	border:2px solid red;
}

.odabranoSjediste{
	background-color:darkgreen !important;
}