<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>biosko</display-name>
  <welcome-file-list>
    <welcome-file>Prijava.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>KorisnikServlet</display-name>
    <servlet-name>KorisnikServlet</servlet-name>
    <servlet-class>bioskopp.KorisnikServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KorisnikServlet</servlet-name>
    <url-pattern>/KorisnikServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OdjavaServlet</display-name>
    <servlet-name>OdjavaServlet</servlet-name>
    <servlet-class>bioskop.status.OdjavaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OdjavaServlet</servlet-name>
    <url-pattern>/OdjavaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GreskaServlet</display-name>
    <servlet-name>GreskaServlet</servlet-name>
    <servlet-class>bioskop.status.GreskaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GreskaServlet</servlet-name>
    <url-pattern>/GreskaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UspjesnoServlet</display-name>
    <servlet-name>UspjesnoServlet</servlet-name>
    <servlet-class>bioskop.status.UspjesnoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UspjesnoServlet</servlet-name>
    <url-pattern>/UspjesnoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NeovlascenoServlet</display-name>
    <servlet-name>NeovlascenoServlet</servlet-name>
    <servlet-class>bioskop.status.NeovlascenoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NeovlascenoServlet</servlet-name>
    <url-pattern>/NeovlascenoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrijavaServlet</display-name>
    <servlet-name>PrijavaServlet</servlet-name>
    <servlet-class>bioskopp.PrijavaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrijavaServlet</servlet-name>
    <url-pattern>/PrijavaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConnectionManager</display-name>
    <servlet-name>ConnectionManager</servlet-name>
    <servlet-class>biosko.DAO.ConnectionManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectionManager</servlet-name>
    <url-pattern>/ConnectionManager</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>bioskopp.InitL</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>RegistracijaServlet</display-name>
    <servlet-name>RegistracijaServlet</servlet-name>
    <servlet-class>bioskopp.RegistracijaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistracijaServlet</servlet-name>
    <url-pattern>/RegistracijaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GServlet</display-name>
    <servlet-name>GServlet</servlet-name>
    <servlet-class>bioskopp.GServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GServlet</servlet-name>
    <url-pattern>/GServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrikazSvihFilmovaServlet</display-name>
    <servlet-name>PrikazSvihFilmovaServlet</servlet-name>
    <servlet-class>bioskopp.PrikazSvihFilmovaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrikazSvihFilmovaServlet</servlet-name>
    <url-pattern>/PrikazSvihFilmovaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FilmoviServlet</display-name>
    <servlet-name>FilmoviServlet</servlet-name>
    <servlet-class>bioskopp.FilmoviServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilmoviServlet</servlet-name>
    <url-pattern>/FilmoviServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FilmServlet</display-name>
    <servlet-name>FilmServlet</servlet-name>
    <servlet-class>bioskopp.FilmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilmServlet</servlet-name>
    <url-pattern>/FilmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MojNalogServlet</display-name>
    <servlet-name>MojNalogServlet</servlet-name>
    <servlet-class>bioskopp.MojNalogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MojNalogServlet</servlet-name>
    <url-pattern>/MojNalogServlet</url-pattern>
  </servlet-mapping>
</web-app>